/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
body {
	text-align: center;
}
h1 {
	color: rgb(2, 132, 130);
	
}
h2 {
	color: #ffd700;
}
nav {
	background-color: #808080;
}
nav a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}
nav a:hover {
	background-color: #ee5f3c;
}
footer {
	background-color: #808080;
	text-align: center;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.board {
	display: inline-block;
	width: 50%;
}
.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background: yellow;
	border-radius: 10px;
	margin: 8%;
	float: left;
}
.name {
	color: #ff0000;
}
